
body nav h1{
    font-family: 'Alfa Slab one';
}
li{
    list-style: none;
    font-weight: bold;
    font-size:large;
}

ul{
    list-style: none;
}
h2{
    font-family: 'Alfa Slab one';
    font-size: 50px;
   
.Waiting{
        display: flex;
        justify-content: center;
        color: white;
    }
    
.list-group-item{
        display: flex;
        justify-content: center;
    }
.button:click{
    background-color: none;
 
